@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar{
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
}

.react-calendar__navigation__label__labelText{
  font-weight: 600;   
}

.react-calendar__title-active{
   background-color: blanchedalmond !important;
   color: black !important;

}

.rbc-btn-group:first-child{
  display: none !important;
}

.rbc-toolbar-label{
  text-align: right !important;
  padding: 0px 20px !important;
}

.rbc-btn-group:last-child{
  font-size: 13px !important;   
}

.rbc-btn-group:last-child button{
  border: none !important;
  background-color: beige !important;
  margin: left !important;
}

.rbc-toolbar button.rbc-active{
  background-color: white !important;
  box-shadow: none !important;
}

.rbc-time-view{
  border-color: black !important;
}

.rbc-time-header{
  border-color: black !important;
}

.rbc-allday-cell{
  display: none !important;
}

.rbc-time-content{
  border-color: black !important;
  border-left: 1px solid black !important;
}

.rbc-time-gutter.rbc-time-coloumn{
  border-color: black !important;
  font-size: 10px !important;

}

.rbc-time-gutter.rbc-time-coloumn .rbc-timeslot-group{
  padding: 0px 20px !important;
  border-color: black !important;
  font-size: 1px !important;
  width: 50% !important;
}

.rbc-timeslot-group{
  background-color: rgb(241, 241, 241) !important;
  border-color: black !important;
  width: 100% !important;
}

.rbc-label{
  font-size: 12px !important;
}

.rbc-time-slot:last-child{
  display:none !important;
}

.rbc-day-slot{
  font-size: 12px !important;
  border-left: 1px solid black !important;
  border-right: 1px solid black !important;
  border-color: black !important;
}

.rbc-event{
  border: none !important;
  color: black !important;
  padding: 5px !important;
  margin: 5px 0 0 5px !important;
  border-radius: 2px !important;
  width: 100% !important;


}
.rbc-event:nth-child(1){
  background-color: rgb(191, 243, 196) !important;
}

.rbc-event:nth-child(2){
  background-color: rgb(191, 243, 230) !important;
}

.rbc-event:nth-child(3){
  background-color: rgb(244, 238, 190) !important;
}

.rbc-event:nth-child(4){
  background-color: rgb(240, 173, 173) !important;
}

.rbc-event:nth-child(5){
  background-color: rgb(179, 220, 239) !important;
}

.rbc-event:nth-child(6){
  background-color: rgb(218, 174, 238) !important;
}

.rbc-event:nth-child(7){
  background-color: rgb(241, 159, 159) !important;
}

.rbc-event:nth-child(8){
  background-color: rgb(154, 157, 244) !important;
}

.rbc-event-label{
  color: black !important;
  margin-bottom: 5px !important;
}

